<ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="{{.Site.BaseUrl}}/post/pourquoi-ce-blog/">Pourquoi ce blog ?</a></li>
                    <li><a href="{{.Site.BaseUrl}}/categories/retour-dexperience/">Retour d'expérience</a></li>
                    <li><a href="{{.Site.BaseUrl}}/categories/hacks/">Hacks</a></li>
                    <li><a href="{{.Site.BaseUrl}}/categories/hors-sujet/">Hors-sujet..</a></li>
                    <li><a href="{{.Site.BaseUrl}}/cv">mon CV</a></li>
</ul>
